body{
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	color: #4e525d;
	cursor: default;
	height: 100%; 
	width: 100%; 
}

* { 
	padding: 0; 
	margin: 0; 
	border: 0; 
} 

:focus, :active { 
outline: none; 
} 

a:focus, a:active { 
outline: none; 
} 

nav, footer, header, aside { 
display: block; 
} 

input, button, textarea { 
font-family: inherit; 
} 

input::-ms-clear { 
display: none; 
} 

button { 
cursor: pointer; 
} 

button::-moz-focus-inner { 
padding: 0; 
border: 0; 
} 

a, a:visited { 
text-decoration: none; 
} 

a:hover { 
text-decoration: none; 
} 

ul li { 
list-style: none; 
} 

.container {
	max-width: 1200px; 
	margin: 0 auto;
	adding: 0 15px;
}

.header {
	z-index: 9999;
	position: sticky;
	top:0;
	background-color: #fff;
	box-shadow:  0 0 10px rgba(0,0,0, 0.2);
}

.header_inner {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 100px;
	align-items: center;
}

.header_logo {
	font-size: 43px;
	line-height: 24px;
	padding: 15px;
	color: #49cbcd;
	font-family: 'Kaushan Script', cursive;
}

.header_nav {
	display: flex;
	flex-direction: row;
	justify-content: center;

	list-style: none;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	font-family: "Open Sans";
}

.nav_link {
	color: #60646c;
	padding: 37px 20px;
	text-decoration: none;
}

.nav_link:hover {
	background-color: #f8f9fb;
	color: #49cbcd;
	border-bottom: 3px solid #49cbcd;
}

.active .nav_link {
	background-color: #f8f9fb;
	color: #49cbcd;
	border-bottom: 3px solid #49cbcd;
}



